{% extends "layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.email.label() }}
            {{ form.email }} <br>
            {% if form.email.errors %}
                {%for error in form.email.errors%}
                    <div style="color:red;">
                        {{error}}
                    </div>
                {% endfor %}
            {% endif %}
            {{ form.submit() }}
        </form>
    </div>
{% endblock content %}